{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="jumbotron">
  <!-- ditionary has key registered with value = True -->
  {% if registered %}
  <h1>Thank you for registering!</h1>
  {% else %}
  <h1>Register here!</h1>
  <h3>Fill out the form:</h3>
  <!-- We need the enctype to handle image data correctly -->
  <!--  <form method="post"> -->
  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <input type="submit" name="" value="Register">
  {% endif %}

{% endblock %}
